.button {
  width: 150px;
  height: 40px;
  background-color: var(--button-01);
  color: var(--text-01);
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-radius: 5px;
}
