.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}

.textarea {
  background-color: var(--background-02);
  border: none;
  border-radius: 5px;
  height: calc(120px - 24px);
  font-family: var(--font-primary);
  font-size: 14px;
  outline: none;
  color: var(--text-01);
  overflow: scroll;
  padding: 12px 13px;
  font-weight: 300;
  resize: none;
}

.form > .button {
  margin-top: 20px;
  align-self: flex-end;
}
