.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}

.textarea {
  background-color: var(--background-02);
  border: none;
  border-radius: 5px;
  height: calc(120px - 24px);
  font-family: var(--font-primary);
  font-size: 14px;
  outline: none;
  color: var(--text-01);
  padding: 12px 13px;
  font-weight: 300;
  resize: none;
}

.textarea::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea::-webkit-scrollbar:vertical {
  width: 10px;
}

.textarea::-webkit-scrollbar-button:increment,
.textarea::-webkit-scrollbar-button {
  display: none;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--scroll-01);
  border-radius: 0 5px 5px 0;
}

.form > .button {
  margin-top: 20px;
  align-self: flex-end;
}
