:root {
  --font-primary: "Poppins", sans-serif;
  --background-01: #0f1829;
  --background-02: #182130;
  --background-03: #080f1e;
  --text-01: #fefefe;
  --text-02: #2f80ed;
  --text-03: #7a7a7a;
  --button-01: #2f80ed;
  --button-02: #445573;
  --icon-01: #7a7a7a;
  --icon-02: #2f80ed;
  --icon-03: #fefefe;
  --input-01: #182130;
  --border-01: #0f1829;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-01);
}

.section {
  display: flex;
  flex-direction: column;
  grid-row-gap: 40px;
}

.section__subtitle {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-02);
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 160px 1fr;
  }
}
