.section__title { 

  font-size:44px;
  font-weight: 700;
  line-height: 64px;
  color: var(--text-01);
}
.section__index{
  height:75vh;
  justify-content: center;
}


@media(min-width:768px){
  .section__index{
    margin-top: 45px;
    height: 400px;
    justify-content: flex-start;
  }
}

@media(min-width:1400px){

  .section__title {
    font-size:110px;
    line-height: 130px;
    letter-spacing:1px;
  }
  .section__index{
    justify-content: flex-start;
    margin-top:37px;
    margin-left:10px;
  } 
  
}