.section__projects{
    grid-row-gap: 0px;
}
.main-projects{
    padding: 0;   
}
.aura-music-a  {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 50vh;
    background-color: black;
}

.paper-news-a{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 50vh;
    background-color: #fafafa;    
}
.aura-music{
    width: 50%;
    height: 50%;
}

.paper-news{

    width: 50%;
    height: 50%;

}
@media (min-width: 1400px) {

    .aura-music-a:hover{
        opacity: 40%;
    }
    .paper-news-a:hover{
        opacity: 85%;
    }


}